#main {
  min-height: 95%;
  padding-top: 5em;
  margin-top: -5em;
  padding-bottom: 10em;
  margin-bottom: -8em; /*leave space for header footer*/
  background-color: #fff;
}

.main {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #eee;
}

.stats {
  font-size: 0.85em;
}

.text-small {
  font-size: 0.95em;
  text-align: justify;
}

.text-center {
  text-align: center;
}

.error {
  color: #ff0000;
}